<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Crear contenido</h3>
            <p class="text-muted m-b-30 font-13"> Información del video </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarVideo(f)">
                        <div class="form-group">
                            <label >Título</label>
                            <input [(ngModel)]="video.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del video" required>
                        </div>

                        <div class="form-group">
                            <label>Tipo</label>
                            <select [(ngModel)]="video.tipo" name="tipo" class="form-control" required>
                                <option value="">Seleccione un tipo</option>
                                <option value="PELICULA">Pelicula</option>
                                <option value="SERIE">Serie</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label >Descripción</label>
                            <input [(ngModel)]="video.descripcion" name="descripcion" type="text" class="form-control" placeholder="Descripción" required>
                        </div>

                        <div class="form-group">
                            <label>Categoria</label>
                            <select [(ngModel)]="video.categoria" name="categoria" class="form-control" required>
                                <option value="">Seleccione una categoria</option>
                                <option value="ACCION">Acción</option>
                                <option value="AVENTURAS">Aventuras</option>
                                <option value="COMEDIAS">Comedias</option>
                                <option value="BELICAS">Belicas</option>
                                <option value="MUSICALES">Musicales</option>
                                <option value="TERROR">Terror</option>
                                <option value="CIENCIA FICCION">Ciencia Ficción</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label >Director</label>
                            <input [(ngModel)]="video.director" name="director" type="text" class="form-control" placeholder="Director" required>
                        </div>


                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                          <i class="fa fa-save"></i> Guardar</button>
                        <a routerLink="/videos"  class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Subir Video</h4>
            <p *ngIf="video.fichero"><i class="fa fa-film"></i> {{video.fichero}}</p>
            <br>
            <br>
            <img (click)="subirVideo()" src="../../../assets/images/upload.png" class="rounded img-fluid" alt="imagen subida">
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
          <h4 class="box-title m-b-0">Img. Contenido </h4>
          <p class="text-muted m-b-30 font-13">{{video.nombre}}</p>
          <img (click)="cambiarFoto()" [src]="video.img | imagen:'video'" class="rounded img-fluid pointer" alt="imagen video">
        </div>
    </div>
</div>