<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
            <input #input (keyup)="buscarVideo( input.value )" type="text" class="form-control" placeholder="Buscar video...">
        </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="cargando">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <span>Espere por favor</span>
      </div>
  </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
          <div class="card-body">
              <div class="text-right">
                  <button [routerLink]="['/video','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                    <i class="fa fa-plus"></i> Crear Contenido</button>
                </div>
              <h3 class="card-title">Contenidos registrados ( <small>{{totalRegistros}}</small> )</h3>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Tipo</th>
                    <th>Título</th>
                    <th>Categoría</th>
                    <th>Director</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let video of videos">
                    <td class="w70">
                      <img (click)="actualizarVideo(video)" [src]="video.img | imagen:'video'" class="img-50 pointer" alt="video.nombre"> 
                      <!--<img [src]="video.img | imagen:'video'" class="img-50 pointer" alt="video.nombre">-->
                    </td>
                    <td>
                      <select [(ngModel)]="video.tipo" name="tipo" class="form-control">
                        <option value="PELICULA">Pelicula</option>
                        <option value="SERIE">Serie</option>
                      </select>
                    </td>                    
                    <td>
                      <input [(ngModel)]="video.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del video">
                    </td>
                    <td>
                      <select [(ngModel)]="video.categoria" name="categoria" class="form-control">
                        <option value="ACCION">Acción</option>
                        <option value="AVENTURAS">Aventuras</option>
                        <option value="COMEDIAS">Comedias</option>
                        <option value="BELICAS">Belicas</option>
                        <option value="MUSICALES">Musicales</option>
                        <option value="TERROR">Terror</option>
                        <option value="CIENCIA FICCION">Ciencia Ficción</option>
                      </select>
                    </td>
                    <td>
                      <input [(ngModel)]="video.director" name="nombre" type="text" class="form-control" placeholder="Director">
                    </td>
                    <td>
                      <button [routerLink]="['/video', video._id]"
                         class="btn btn-primary">
                          <i class="fa fa-edit"></i>
                        </button>
                      <button (click)="guardarVideo(video)" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                      </button>

                      <button (click)="borrarvideo(video)" class="btn btn-danger">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button (click)="paginar(-5)" class="btn btn-secondary">
                Anteriones
              </button>
              <button (click)="paginar(5)" class="btn btn-secondary">
                Siguientes
              </button>
          </div>
      </div>
    </div>
</div>